{% extends "components/base_reporte.html" %}
{% load static %}
{% block reporte_titulo %}
<i class="fa-solid fa-chart-column"></i> Reporte Financiero de Ventas
{% endblock %}

{% block reporte_subtitulo %}
Resumen diario consolidado
{% endblock %}

{% block filtros %}
<form method="GET" class="row g-2 align-items-end">

    <div class="col-md-2">
        <label class="form-label small text-muted">Buscar por fecha</label>
        <input type="date" name="fecha" value="{{ request.GET.fecha }}" class="form-control">
    </div>

    <div class="col-md-2">
        <button type="submit" class="btn btn-primary w-100">
            <i class="fa-solid fa-magnifying-glass"></i> Filtrar
        </button>
    </div>

    <div class="col-md-2">
        <a href="{% url 'reporte_ventas_diaria' %}" class="btn btn-outline-secondary w-100">
            Limpiar
        </a>
    </div>
</form>
{% endblock %}

{% block tabla %}
{% include "venta/reportes/_tabla_ventas.html" %}
{% endblock %}

{% block modales %}
{% include "venta/components/_modal_detalle.html" %}
{% endblock %}

{% block scripts %}
<script src="{% static 'venta/js/reportes/modal_reportes.js' %}"></script>
{% endblock %}