html, body {
    height: 100%;
    margin: 0;
}

.sidebar {
    width: 260px;
    min-width: 260px;
    max-width: 260px;
    flex-shrink: 0;
}

.sidebar .nav-link:hover {
    background-color: #495057;
}

.sidebar button.nav-link {
    background: none;
    border: none;
}

.sidebar button.nav-link:hover {
    background-color: #495057;
}