{% extends "components/_base_tabla_reporte.html" %}
{% load grupos %}
{% block table_head %}
<tr>
    <th>Fecha</th>
    <th>Usuario</th>
    <th class="text-center">Tipo</th>
    <th class="text-end">Monto (Bs)</th>
    <th class="text-center">Metodo Pago</th>
    <th class="text-center">Concepto</th>
    {% if request.user|has_any_group:"Administrador,Supervisor" %}
    <th class="text-center">Acciones</th> 
    {% endif %}
</tr>
{% endblock %}

{% block table_body %}
    {% include "caja/_fila_caja.html" %}
{% endblock %}