{% for gasto in gastos %}
    <tr>
        <td>{{ gasto.fecha|date:"d/m/Y H:i" }}</td>
        <td>{{ gasto.usuario }}</td>
        <td>{{ gasto.get_categoria_display }}</td>
        <td>{{ gasto.concepto }}</td>
        <td class="text-danger">Bs {{ gasto.monto }}</td>
        <td class="text-truncate"
            {% if gasto.descripcion|length > 50 %}
                title="{{ gasto.descripcion }}"
            {% endif %}>
            
            {{ gasto.descripcion|truncatechars:50 }}
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="7" class="text-center text-muted">
            No hay gastos registrados
        </td>
    </tr>
{% endfor %}